<!-- <div class="container">
  <app-payment-details></app-payment-details>
</div> -->
<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'></a>
  <ul class='navbar-nav'>
    <li class='nav-item'><a class='nav-link' routerLinkActive='active'
          [routerLink]="['/dataTable']">DataTable</a>
    </li>
    <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
          [routerLink]="['/payment']">PaymentDetails</a>
    </li>
    <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
          [routerLink]="['/EmployeeDetails']">EmpDetails</a>
    </li>
    <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="['/EmployeeForm']">Form01</a>
    </li>
    <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="['/ReactiveForm']">Form</a>
    </li>
    <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="['/FormCheck']">FormCheck</a>
    </li>
  </ul>
</nav>

<!-- <h2>Angular Routing Example</h2>

<li class='nav-item'><a class='nav-link' routerLinkActive='active'
  [routerLink]="['/dataTable']">DataTable</a>
</li>
<li class='nav-item'><a class='nav-link' routerLinkActive='active'
  [routerLink]="['/payment']">Product</a>
</li> -->

<div class='container'>
    <router-outlet></router-outlet>
</div>
